<header class="bg-blue-800 text-white">
	<nav class="flex justify-between items-center gap-3 py-5 px-4 max-w-5xl mx-auto">
		<h1 class="text-2xl">Currency Converter</h1>
		<div class="flex gap-3 text-xl">
			<div *ngFor="let currency of currencies" class="flex gap-1 items-center" title="to UAH">
				<span class="text-2xl">{{currency.symbol}}</span>
				<span class="amount">{{ currency.amount| number: '1.2-2' }}</span>
			</div>
		</div>
	</nav>
</header>
<div *ngIf="isLoading" class="absolute top-0 bottom-0 left-0 right-0 backdrop-blur-sm z-10">
	<span class="absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-1/2 text-xl">Loading...</span>
</div>