<app-header></app-header>
<main class="relative flex-1">
	<app-card title="select currency" [errorMessage]="currencyService.errorMessage">
		<app-currency-form [selectedBase]="currencyService.inputBase" [amount]="currencyService.inputAmount"
			(selectBase)="currencyService.handleInputBase($event)" (changeAmount)="currencyService.handleInputAmount($event)">
		</app-currency-form>
		<p class="text-center font-bold my-2">equal</p>
		<app-currency-form [selectedBase]="currencyService.outputBase" [amount]="currencyService.outputAmount"
			(selectBase)="currencyService.handleOutputBase($event)"
			(changeAmount)="currencyService.handleOutputAmount($event)">
		</app-currency-form>
	</app-card>
</main>